# 함수

뭔가의 기능을 구현하고 그 기능을 함수로 만들어 놓으면 원할 때 언제든지 가져와서 사용할 수 있다.  
1. 함수를 만들 때  
def 함수명(매개변수1, 매개변수2...) :  
    함수에서 수행할 코드 return 반환값  
   
   return과 매개변수는 없어도 가능

In [8]:
def func_sum(num1, num2) :  # 값 2개를 매개변수로 전달받고
    result = num1 + num2    # 두 값의 합을 result에 저장해서
    return result           # result를 반환하는 함수

2. 함수를 사용할 때
  
  함수이름(매개값1, 매개값2,,)

In [9]:
func_sum(1,5)

6

In [10]:
func_sum('g','o')

'go'

In [11]:
def triple(num1, num2, num3) :
    result = num1 +num2 + num3
    return result

In [12]:
triple(1,2,3)

6

In [13]:
triple('1','2','3')

'123'

### 문제
뺄셈, 곱셈, 나눗셈 만들고 사용하세요.

In [14]:
def minus(num1, num2) :
    result = num1-num2
    return result

In [15]:
def multiply(num1, num2) :
    result = num1*num2
    return result

In [16]:
def divide(num1, num2) :
    result = num1/num2
    return result

In [17]:
print(minus(100,10))
print(multiply(100,10))
print(divide(100,10))

90
1000
10.0

In [20]:
print(minus(10,2))
print(multiply('d',2))
print(divide(10,2))

8
dd
5.0

## 문제
숫자 2개와 문자 하나를 전달받는 함수  
만약에 전달받은 문자가 +이면 result에 전달받은 두수의 합을 저장하고  
그렇지 않고 만약에 문자가 -이면 result에 전달받은 두수의 차를 저장하고  
*이면 곱하기  
/이면 나누기를  
 반환하는 함수

In [22]:
def calculate(n1, n2, str1) :
    if str1 == '+' :
        result = n1 + n2
    elif str1 == '-' :
        result = n1 - n2
    elif str1 == '*' :
        result = n1 * n2
    elif str1 == '/' :
        result = n1 / n2
    return result

In [23]:
calculate(50,2,'-')

48

## 전역 변수와 지역 변수

전역 변수 : 프로그램 내에서 어디에서든지 사용할 수 있는 변수  
  
  지역 변수 : 변수가 만들어진 블록 내에서만 사용 가능한 변수

In [26]:
def test():
    result = 0       # 지역 변수
    return result
result = 10          # 전역 변수

test()

print(result)          # 전역 변수

10

def 안에 있는 0을 넣은result(1)와 함수 밖의 10을 넣은 result(2)는 다른 변수이다.  
(1)은 지역 변수이고  (함수 안에서만 사용가능하다)  
(2)는 전역 변수이다. (어디서든 사용가능하다)  
그러나 전역 변수를 함수 내에서 쓰고 싶으면 global을 변수 앞에 넣어준다.  
그러면 지역 변수가 아니라 전역 변수로 사용가능하다.

In [27]:

def global_test():
    global result          # global을 붙이면 전역 변수가 된다.
    result = 0
    return result

result = 10                  # 전역 변수

global_test()

print(result)                # 전역 변수

0

In [ ]:
def fun1()
    print(str(a))
def fun2()
    print(str(a))

a = 20

fun1()
fun2()

출력 결과가 어떻게 될까?

In [30]:
def fun1() :
    print(str(a))   
def fun2() :
    print(str(a))

a = 20

fun1()
fun2()

20
20

a라는 변수를 사용할 때 같은 지역에서 변수를 찾지만 fun1,2() 함수 내에  
a라는 변수가 없기 때문에 전역 변수 a를 갖고 오는 것

In [31]:
def fun1() :
    print(str(a))   
def fun2() :
    a = 10
    print(str(a))

a = 20

fun1()
fun2()

20
10

fun1()은 a라는 변수를 찾을 때 지역 내에 a가 없기 때문에 전역 변수 a를 갖고옴  
fun2()는 a라는 변수를 찾을 때 지역 내에 a가 존재하기 때문에 지역 변수 a를 갖고옴

In [32]:
def fun1() :
    global a
    a = 30
    print(str(a))   
def fun2() :
    a = 10
    print(str(a))

a = 20

fun1()
fun2()
print(a)

30
10
30

## 함수의 매개변수 전달

함수를 호출할 때 매개변수의 갯수를 따로 지정하지 않고 함수를 사용하는 방식에 따라서 결정되게 할 때는 매개변수 앞에 *를 붙여준다.  
입력된 매개변수들은 리스트 취급!!

In [33]:
def para_func(*para):
    print("para의 길이는 " + str(len(para)))
    print(para)

In [34]:

para_func(10, 20, 30, 40)

para의 길이는 4
(10, 20, 30, 40)

In [35]:
def func_sum(*num):
    total=0
    for i in num:
        total = total + i
    return total

func_sum(10, 20, 30)

60

## 문제 

숫자를 여러 개 입력 받고 입력받은 숫자 중에서 가장 큰 수를 출력하는 기능

In [60]:
def maximum(*n) :
    result = n[0]
    for i in range(0,len(n),1) :
        for j in range(0,len(n),1) :
            if i<j :
                if n[i]>= n[j] and result <= n[i] :
                    result = n[i]
            else :
                continue
    return result

휴 어려웠따

In [62]:
maximum(-7,-3,-4,-5)

-3

### 사고흐름
입력 받은 숫자들이 리스트로 저장된다.  
젤 큰 숫자는 결과로 저장해야지  
숫자들을 하나씩 비교하는데 한번 비교한 숫자는 다시 비교하면 안됨  
for문을 쓰면 중복해서 비교해야되는데,,?  
다시 비교 안하려면 조건문으로 피해가야겠다  
리스트라고 했으니 n번째 숫자라는 인덱스가 있네  
for문 두번 해서 i < j 이고 결과보다 큰 숫자면 결과에 저장해야지  
다른 경우는 필요없으니 다시 continue로 지나가면됨

### 풀이

In [63]:
def maximize(*num) :
    max = num[0]
    for i in num :
        if i>max :
            max = i
    print(max)

In [64]:
maximize(1,23,46,81,27,36,48,61,36,49,12,63,59,92,34)

92

역시 센세,,,

## 문제

num1 = 10  
num2 = 20  
  
  두 변수의 수를 바꾸는 기능

In [97]:
def swap1(a,b) :
    global n1
    global n2
    n1 = b
    n2 = a

전역변수가 매개변수가 될 수가 없네

In [102]:
n1 = 10
n2 = 20

In [103]:
swap1(n1,n2)
print(n1)
print(n2)

20
10

## 문제

문자열과 숫자를 하나씩 입력 받고 입력된 문자열을 입력된 숫자만큼 잘라서 출력하는 프로그램  
  
  예를 들어서 ('안녕하세요. 감사해요. 잘있어요.',3)  
  안녕하  
  세요.  
   감사  
  해요.  
  ... 이렇게

In [138]:
def cut(a,b) :
    c = len(a)//3
    f = len(a)% 3
    d = str(a[0:b])
    print(d)
    for i in range(1,c,1) :
        print(a[i*b : (i+1)*b])
    print(a[-f:])
    return d

In [139]:
a = '12345678901234567890'

In [141]:
cut(a,3)

123
456
789
012
345
678
90

'123'

### 센세 풀이

In [142]:
def str_split(str1, num1) :
    for i in range(0,len(str1),num1) :
        print(str1[i :i+num1])

In [143]:
str_split(a,4)

1234
5678
9012
3456
7890

## 문제
아래 코드를 활용해서 BTC, XRP, ETH, LTC, ICX, EOS 중 하나를 입력하면 해당코인의 가격을 출력하는 기능을 만들고 사용해보세요

In [147]:
import requests
response = requests.get("https://api.bithumb.com/public/ticker/BTC").json()
print(response['data']['closing_price']+"원")

43208000원

In [145]:
response

{'status': '0000',
 'data': {'opening_price': '44637000',
  'closing_price': '43204000',
  'min_price': '42011000',
  'max_price': '46866000',
  'units_traded': '4271.12076764',
  'acc_trade_value': '187894705821.6478',
  'prev_closing_price': '44635000',
  'units_traded_24H': '5507.04012031',
  'acc_trade_value_24H': '242915669677.5123',
  'fluctate_24H': '-1139000',
  'fluctate_rate_24H': '-2.57',
  'date': '1627374726188'}}

In [150]:
def coin(c) :
    url = 'https://api.bithumb.com/public/ticker/'
    url1 = url + str(c)
    import requests
    response = requests.get(url1).json()
    print(response['data']['closing_price']+"원")

In [154]:
coin('ETH')

2559000원

## 문제

str_func 기능을 만든다  
'왼쪽에서', '오른쪽에서', '위에서', '아래에서' 중 하나를 전달받는다.  
왼쪽에서 >> 안녕하세요.  
오른쪽에서 >> 요세하녕안.  
위에서  
안  
녕  
하  
세  
요  
  
  아래에서    
요  
세  
하  
녕  
안

In [167]:
def str_func(str1) :
    a = '안녕하세요'
    b = ''
    c = ''
    if str1 == '왼쪽에서' :
        print(a)
    if str1 == '오른쪽에서' :
        print(str(a[-1])+str(a[-2]+str(a[-3])+str(a[-4])+str(a[-5]))
    if str1 == '위에서' :
        b = str(a[0])+'\n'+str(a[1]+'\n'+str(a[2])+'\n'+str(a[3])+'\n'+str(a[4])
        print(b)
    if str1 == '아래에서' :
        c = str(a[-1])+'\n'+str(a[-2]+'\n'+str(a[-3])+'\n'+str(a[-4])+'\n'+str(a[-5])
        print(c)

SyntaxError: invalid syntax (<ipython-input-167-01fdb3f52f37>, line 9)

In [156]:
d = '안\n녕'
print(d)

안
녕

In [157]:
d = d + '\n하'
print(d)

안
녕
하

갈수록 시간 내에 못푸는 문제가 많아지는것 같다....

In [168]:
def str_func(str1) :
    a = '안녕하세요'
    b = ''
    if str1 == '왼쪽에서' :
        print(a)
    elif str1 == '오른쪽에서' :
        for i in range(len(a)-1,-1,-1) :
            b = b + a[i]
    elif str1 == '위에서' :
        for i in range(0,len(a),1) :
            print(a[i])
    elif str1 == '아래에서' :
        for i in range(len(a)-1,-1,-1) :
            print(a[i])

In [169]:
str_func('아래에서')

요
세
하
녕
안