# 문자열

### 문자열을 만드는 방법

"문자열"  
'문자열'  
"""문자열"""  
'''문자열'''

### 문자열 안에 작은 따옴표나 큰 따옴표를 포함하고 싶을 때

1. 작은 따옴표를 포함할 때 "문자열 안에'가 포함"

In [2]:
print('문자열 안에 '가 포함')

SyntaxError: invalid syntax (<ipython-input-2-5e67db2fee47>, line 1)

작은 따옴표로만 하려면 에러가 나요~~

In [1]:
print("문자열 안에 '가 포함")

문자열 안에 '가 포함

2. 큰 따옴표를 포함할 때  
    '문자열 안에 "가 포함'

In [4]:
print('문자열 안에 "가 포함')

문자열 안에 "가 포함

### 여러 줄인 문자열을 변수에 대입하고 싶을 때
  
  한번에 여러 줄인 문자열을 사용하려고 할 때는  
  ''' 또는 """ 로 묶어준다.

In [5]:
multiline = '''
오늘은 2021년 7월 27일,,,
민쿤 생일이다..
아침에 바디필로우 보내줬다...
여자친구를 만들어 줄 순 없으니....
'''

In [6]:
print(multiline)

오늘은 2021년 7월 27일,,,
민쿤 생일이다..
아침에 바디필로우 보내줬다...
여자친구를 만들어 줄 순 없으니....

### 문자열에 작은 따옴표와 큰 따옴표 모두 포함될 때(이스케이프 문자 사용)
  
역슬래시 \ 뒤에 특정 기호가 오면 기능을 하게 됨   
\n 문자열 안에서 줄을 바꿈  
\t 문자열 안에서 탭 간격을 줌  
\\ 문자열 안에 \(역슬래시)를 출력하고 싶을 때 사용  
\' 문자열 안에 '를 출력하고 싶을 때 사용  
\" 문자열 안에 "를 출력하고 싶을 때 사용

In [45]:
str1 = "문자열 안에서 \n줄 바꿈"
print(str1)

문자열 안에서
줄 바꿈

In [7]:
str2 = "문자열 안에서 \t 탭으로 간격 주기"
print(str2)

문자열 안에서 	 탭으로 간격 주기

In [8]:
str3 = "문자열 안에서 \\ 를 출력"
print(str3)

문자열 안에서 \ 를 출력

In [9]:
str4 = "문자열 안에서 \'를 출력"
print(str4)

문자열 안에서 '를 출력

In [10]:
str5 = "문자열 안에서 \"를 출력"
print(str5)

문자열 안에서 "를 출력

## 문자열 연산하기

덧셈 또는 곱셈연산 수행 가능

In [12]:
str1 = 'hello'
str2 = 'world'

In [13]:
str3 = str1 + str2
print(str3)

helloworld

In [14]:
name = input()
print('내 이름은 '+ name + '입니다')

강태인
내 이름은 강태인입니다

In [15]:
print('바보' * 10)

바보바보바보바보바보바보바보바보바보바보

### 문자열 인덱싱

문자열에서 맨 처음 문자는 0번 순서를 가지게 되고 그 다음 문자부터 1씩 증가하는 순서를 갖는다.  
"abcd"  
a 는 0번  
b 는 1번  
c 는 2번  
d 는 3번

In [16]:
str1 = 'abcd'
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])

a
b
c
d

## 문자열 슬라이싱
문자열에서 특정 부분만 잘라서 사용  
문자열[시작 : 끝] 으로 사용  
시작 이상 끝 미만으로 생각

In [23]:
a = 'ab.ab.ab.ab.ab.ab.ab.ab.ab.ab' # 총 20자

In [24]:
print(a[0:11]) # 0번부터 10번까지 출력

ab.ab.ab.ab

## 문자열 나누기
문자열.split('구분자')  
구분자는 지워지고 구분한 문자열은 리스트로 저장된다.

In [25]:
list1 = a.split('.')

In [26]:
list1

['ab', 'ab', 'ab', 'ab', 'ab', 'ab', 'ab', 'ab', 'ab', 'ab']

### 문제

today = '20210727-화요일- 맑음

20210721 출력  
화요일 출력  
오늘은 2021년 07월 27일 화요일입니다. 날씨는 맑음입니다. 출력

In [29]:
today = '20210727-화요일-맑음'
today1 = today.split('-')
print(today1)

['20210727', '화요일', '맑음']

In [30]:
print(today1[0])
print(today1[1])
print('오늘은 '+ today1[0][0:4]+'년 ' +today1[0][4:6]+'월 ' +today1[0][6:]+'일 '
     + today1[1]+'입니다. 날씨는 ' +today1[2]+'입니다.' )

20210727
화요일
오늘은 2021년 07월 27일 화요일입니다. 날씨는 맑음입니다.

## 달력 만들기 문제

In [ ]:
print('일\t월\t화\t수\t목\t금\t토')

In [40]:
one = []    
two = []
three =[] 
four = []
five = []
six = []
seven =[]
eight = []
nine = []
ten = []
eleven =[] 
twelve = []

In [41]:
for i in range(1,32,1) :
    one.append(i)
for i in range(1,29,1) :
    two.append(i)
for i in range(1,32,1) :
    three.append(i)
for i in range(1,31,1) :
    four.append(i)
for i in range(1,32,1) :
    five.append(i)
for i in range(1,31,1) :
    six.append(i)
for i in range(1,32,1) :
    seven.append(i)
for i in range(1,32,1) :
    eight.append(i)
for i in range(1,31,1) :
    nine.append(i)
for i in range(1,32,1) :
    ten.append(i)
for i in range(1,31,1) :
    eleven.append(i)
for i in range(1,32,1) :
    twelve.append(i)

In [44]:
print('월을 입력해주세요.')
month = int(input())
if month == 1 :
    print('일\t월\t화\t수\t목\t금\t토')
    print('  \t  \t  \t  \t 1\t 2\t 3\n4\t 5\t 6\t 7\t 8\t 9\t10\n11\t12\t13\t14\t15\t16\t17\n18\t19\t20\t21\t22\t23\  \t  \t  \t  \t 1\t 2\t 3')

SyntaxError: EOL while scanning string literal (<ipython-input-44-c4af01ae1705>, line 5)

어렵군,,,,,,,,,,,,,,,,,,,,, 밑에는 선생님 풀이,,,

In [ ]:
print("월을 입력 해주세요.")
month = int(input())

day = 0
month_end = [31,28,31,30,31,30,31,31,30,31,30,31]  #각 달의 마지막 날을 저장해둔 리스트

lst = ["\t"]*42  # 전체 달력의 크기를 저장, 한 달의 크기는 비어 있는 날까지 총 42일

for i in range(0,month-1,1):  # 입력받은 달까지의 총 일수를 계산, 1월 이면 5
    day+=month_end[i]         # 2월이면 31+5 = 36, 3월이면 31+28+5=64
day+=5                        # 여기서 5는 2021년 1월 1일이 금요일부터 시작하기 때문 

print("\t일\t월\t화\t수\t목\t금\t토")

for i in range(0,day%7,1):  # 매 월 앞에 비어있는 날들을 \t 탭으로 출력
    lst[i]="\t"
    
for i in range(day%7,(month_end[month-1]+day%7),1):
    lst[i]+=str(i-day%7+1)  # 날들을 추가